#root {
  max-width: 1280px;
  max-height: 100vh;

  margin: 0 auto;
  padding: 0;
}

.App {
  padding: 2rem;

  max-height: 100vh;

  background: #000000aa;
  overflow: auto;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}

h1.title {
  color: white;
}
